appdirs
comtypes
icalendar
lxml
matplotlib
mysqlclient
numpy
opencv-python
openpyxl
Pillow
psutil
pycryptodome
pystrich
python_dateutil
pyttsx
pytz
reportlab
setuptools
sqlalchemy
Twisted
xlrd
XlsxWriter
wxPython
