appdirs
comtypes
icalendar
lxml
matplotlib
mysqlclient
mysql-connector
mysql
numpy
opencv-python
openpyxl
Pillow
paramiko
psutil
pycryptodome
pystrich
python-dateutil
pyttsx
pytz
reportlab
setuptools
sqlalchemy
Twisted
xlrd
XlsxWriter

