[Desktop Entry]
Type=Application
Name=Noethys-Matthania
Exec=/home/noegest/Noethys-Matthania/lancer_noethys.sh
Icon=/home/noegest/Noethys-Matthania/noethys/Static/Images/icone.ico
